aiohttp==3.8.5
aiosignal==1.3.1
altgraph==0.17.3
async-timeout==4.0.3
attrs==23.1.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.2.0
customtkinter==5.2.0
darkdetect==0.8.0
frozenlist==1.4.0
idna==3.4
lxml==4.9.3
macholib==1.16.2
modulegraph==0.19.5
multidict==6.0.4
openai==0.28.0
py2app==0.28.6
pyperclip==1.8.2
requests==2.31.0
soupsieve==2.5
tqdm==4.66.1
urllib3==2.0.4
yarl==1.9.2
